profiles {
standard { includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/base.conf' }
slurm { includeConfig '../conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/slurm.conf' }
docker { includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/docker.conf' }
singularity { includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/singularity.conf' }
conda { includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/conda.conf' }
groovy { includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline_HPC/conf/groovy.conf' }
}
