profiles {
standard { includeConfig '/conf/base.conf' }
slurm { includeConfig './conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline/conf/slurm.conf' }
docker { includeConfig './conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline/conf/docker.conf' }
singularity { includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline/conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline/conf/singularity.conf' }
conda { includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline/conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline/conf/conda.conf' }
groovy { includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline/conf/base.conf'; includeConfig '/mnt/isilon/cccr_bfx//CCCR_Pipelines/RNA-Seq_Pipeline/conf/groovy.conf' }
}
